
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.profile-info {
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    background-image: url(/public/Texture.jpg);
    background-size: cover;
}

#intro {
    font-size: 1.5em;
    opacity: 0;
    margin-bottom: 20px;
    transform: translateY(20px);
    animation: fadeinUp 1s forwards;
}

#name{
    font-family:'Bitcount Grid Double', sans-serif;
    font-size: 3em;
    color: #5c5352;
    border-right: 3px solid #00ee47;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(30) forwards, blink 0.5s step-end infinite;
    animation-delay: 1s;
}

#message {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeinUp 1s forwards;
    animation-delay: 0s;
}

#title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    padding: 20px;
}

img {
    width: 30%;
    aspect-ratio: 3/4;
    object-fit: contain;
    margin-right: 20px;
    border-color: rgb(32, 36, 40);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeinUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    to {
        width: 100%;
    }
}

@keyframes blink {
    0%,50%,100% {
        border-color: transparent;    
    }

    25%,75% {
        border-color: transparent;
    }
}