
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.st{
    display: flex;
    color: #000000;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.st p{
    font-size: 60px;
    font-family: 'Playwrite AT', sans-serif;
    color: rgb(0, 0, 0) ;
}

.project-list {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
}

.project-item {
    background-image: url(/public/textbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 50%;
    height: 300px;
    border-color: rgb(139, 151, 151);
    border-style: solid;
    border-width: 2px;
    flex: 0 0 calc(33.333% - 14px);
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-6px);
}

.project-list::-webkit-scrollbar{
   display: none;
}

.project-list{
    scrollbar-width: none;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.controls button:hover {
    background-color: #333333;
}

@media (max-width: 768px) {
    .project-item {
        flex: 0 0 calc(100% - 14px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .project-item {
        flex: 0 0 calc(50% - 14px);
    }
}

.project-item h3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    color: #000000;
    text-align: center;
}
.project-item p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.project-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
}