.tool-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.tool-item {
    margin-top: 20px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.674); 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}