@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.tools-section {
  background-color: #ffffff;
  color: white;
  padding: 80px 20px;
}

.tools-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.tools-title {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Playwrite AT', monospace;
}

.tools-subtitle {
  color: #94a3b8;
  margin-bottom: 50px;
  font-size: 18px;
  font-family: 'Roboto', monospace;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.tool-card {
  background: rgba(196, 20, 20, 0.05);
  background-image: url('/textbg.jpg');
  background-size: cover;
  padding: 25px;
  transition: 0.3s ease;
  border: 1px solid rgb(59, 58, 58);
  border-bottom: 3px solid rgb(59, 58, 58);
}

.tool-card:hover {
  transform: translateY(-8px);
  border-color: #505053;
}

.tool-card h3 {
  margin-bottom: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.tool-card ul {
  list-style: none;
  padding: 0;
}

.tool-card li {
  margin: 8px 0;
  color: #000000;
  transition: 0.2s;
}

.tool-card li:hover {
  color: rgb(254, 222, 17);
}