/* Navigation */
:root{
    --background-color:rgb(0,0,0);
    --text-color:rgb(0,0,0);
    --brand-color:rgb(0,0,0);
}

.container {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url(/public/image.png);
    background-size: cover;
    background-position: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-nav {
    display: flex;
    background-color: #0000006d;
    margin-left: 350px;
}

.navbar-nav .nav-item{
    margin: 10px;
    transition: 0.3s ease-out;
}

.navbar-nav .nav-item:hover{
    background-color: #ffffff;
    transform: scale(1.3);
}
.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #000000;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 30%;
    left: 20%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: perspective(500px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(500px) rotateX(-16deg) rotateY(360deg);
  
    }
}

.banner .slider .item{
    position: absolute;
    inset:0 0 0 0; 
    transform:rotateY(calc( (var(--position) - 1)*(360/ var(--quantity))*1deg)) translateZ(200px); 
}

.banner .slider .item img{
    width: 50px;
    height: 50px;
    opacity: 0.9;
    object-fit: cover;
}