/* Navigation */
:root{
    --background-color:rgb(0,0,0);
    --text-color:rgb(0,0,0);
    --brand-color:rgb(0,0,0);
}

.container {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url(/public/bg.jpg);
    background-size: contain;
    background-position: center;
}

.navbar{
    z-index: 2;
    background-color: rgba(0, 0, 0);
}


.navbar-brand {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

#logo {
    width: 120px;
    height: 40px;
    margin-right: 10px;
}
/* .navbar-nav {
    display: flex;
    background-color: #8e25256d;
    margin-left: 350px;
} */

.navbar-nav .nav-item{
    margin: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}

.divider {
    width: 1px;
    height: 30px;
    background-color: #ffffff;
    margin: 15px 15px;
    
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 30%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: perspective(500px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(500px) rotateX(-16deg) rotateY(360deg);
  
    }
}

.banner .slider .item{
    position: absolute;
    inset:0 0 0 0; 
    transform:rotateY(calc( (var(--position) - 1)*(360/ var(--quantity))*1deg)) translateZ(200px); 
}

.banner .slider .item img{
    width: 50px;
    height: 50px;
    opacity: 0.9;
    object-fit: cover;
}