@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.contacts{
    display: flex;
    background-image: url(/public/black.jpg);
    height: 80vh;
    margin-top: 40px;
    padding: 10px;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.516);
    margin-left: 5px;
}

.col{
    margin:10px;
}

.col p{
    font-family: 'Roboto', monospace;
}

.contact-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-self:baseline;
}

.contact-item {
    margin-top: 5px;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#coffee {
    color: #aea6a6;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}