*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;  
}

body {
    background-color: #f5f2f2ea;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 60px;
    color: rgb(0, 0, 0) ;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
}






.st{
    display: flex;
    color: #000000;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.st p{
    font-size: 30px;
    font-family: 'Playwrite AT', sans-serif;
    color: rgb(0, 0, 0) ;
}


span {
    color: #000000;
}




