*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;  
}

body {
    background-color: #ffffff;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    padding: 20px;
}

img {
    width: 30%;
    aspect-ratio: 3/4;
    object-fit: contain;
    margin-right: 20px;
    border-color: rgb(32, 36, 40);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.profile-info {
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
}

#intro {
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

#message {
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
}

.st{
    display: flex;
    color: #000000;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 60px;
    color: rgb(0, 0, 0) ;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
}

#title {
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.project-list {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 90%;
    padding: 10;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.project-item {
    background-color: rgba(0, 0, 0, 0.674) ;
    padding: 10px;
    width: 800px;
    height: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    flex: 1 1 calc(33.333% - 20px);
    transition: transform 0.3s ease;
}

.contact-list {
    margin-top: 20px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-item {
    margin-top: 5px;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-set{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.skills-list {
    margin-top: 20px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.674);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tool-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.tool-item {
    margin-top: 20px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.674); 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.strength {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-image:url(strength.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    justify-content: center;
    align-items: center;
}




span {
    color: #000000;
}

#coffee {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.navbar{
    z-index: 2;
    background-color: rgba(92, 90, 90, 0.425);
}

